
<app-search-section></app-search-section>

<app-services-section></app-services-section>

<app-featured-destination-section></app-featured-destination-section>

<app-special-offers-section></app-special-offers-section>

<!-- <app-facts-counters-section></app-facts-counters-section> -->

<app-popular-offers-section></app-popular-offers-section>

<!-- <app-testimony-section></app-testimony-section>

<app-restaurants-section></app-restaurants-section>

<app-blog-section></app-blog-section> -->

<app-newsletter-section></app-newsletter-section>
