<div class="row">

    <div *ngFor="let mesto of kampMesta; trackBy: trackById" class="col-md-3">
        <div class="destination">
            <div class="text p-3">
                <div class="d-flex">
                    <div class="one">
                        <h3>{{ mesto?.naziv }}</h3>
                        <p class="rate">
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star-o"></i>
                            <i class="icon-star-o"></i>
                            <span>8 ocen</span>
                        </p>
                        <p>{{ cenik?.cena + "€ / noč" }}</p>
                    </div>
                </div>
                <hr>
                <p class="bottom-area d-flex">
                    <span><i class="icon-map-o"></i> {{ camp?.nazivLokacije }}</span>
                    <span class="ml-auto"><a (click)="onSelect(camp, mesto)">Rezerviraj</a></span>
                </p>
            </div>
        </div>
    </div>

</div>
