<section class="ftco-section services-section bg-light">
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-guarantee"></span></div></div>
            <div class="media-body p-2 mt-2">
              <h3 class="heading mb-3">Poiščite najboljše kampe</h3>
              <p>Zagotovite si brezskrbno dopustovanje.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-like"></span></div></div>
            <div class="media-body p-2 mt-2">
              <h3 class="heading mb-3">Rezervirajte kampirno mesto</h3>
              <p>Hitro in enostavno ter brez skrbi.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-detective"></span></div></div>
            <div class="media-body p-2 mt-2">
              <h3 class="heading mb-3">Ogled kampov na zemljevidu</h3>
              <p>Hitro in enostavno poiščite najbolj primerno lokacijo na zemljevidu, za brezskrben dopust.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-support"></span></div></div>
            <div class="media-body p-2 mt-2">
              <h3 class="heading mb-3">Prijavite se na e-novice</h3>
              <p>Želite biti obveščeni o novih ponudbah ter akcijah. Hitro se prijavite na e-novice.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
