<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Kampisti</h2>
                    <p>Skupina kampističnih navdušencov, se je odločila zbrati vse avtokampe na enem mestu in s tem olajšati iskanje kampov.</p>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Informacije</h2>
                    <ul class="list-unstyled">
                        <li><a routerLink="/home" class="py-2 d-block">Domača stran</a></li>
                        <li><a routerLink="/camps" class="py-2 d-block">Avtokampi</a></li>
                        <li><a routerLink="/maps" class="py-2 d-block">Zemljevid</a></li>
                        <li><a href="#" class="py-2 d-block">Zasebnost in politika</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Za prijavljene uporabnike</h2>
                    <ul class="list-unstyled">
                        <li><a routerLink="/reservations" class="py-2 d-block">Rezervacije</a></li>
                        <li><a routerLink="/auth/register" class="py-2 d-block">Registracija</a></li>
                        <li><a routerLink="/auth/login" class="py-2 d-block">Prijava</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Kje smo?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">Večna pot 113, <br> 1000 Ljubljana</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    Kampisti &copy; {{ getYear() }} | Vse pravice pridržane <a class="d-none" href="https://colorlib.com"
                        target="_blank">Colorlib</a>
                </p>
            </div>
        </div>
    </div>
</footer>
